# DEBUG	Detailed information, typically of interest only when diagnosing problems.
# INFO	Confirmation that things are working as expected.
# WARNING	An indication that something unexpected happened, or indicative of some problem in the near future (e.g. ‘disk space low’). The software is still working as expected.
# ERROR	Due to a more serious problem, the software has not been able to perform some function.
# critical	A serious error, indicating that the program itself may be unable to continue running.


[loggers]
keys=root

[logger_root]
level=DEBUG
handlers=handle_1,handle_2

###############################################
[handlers]
keys=handle_1,handle_2

[handler_handle_1]
class=StreamHandler
level=INFO
formatter=default
args=(sys.stderr,)

[handler_handle_2]
class=FileHandler
level=DEBUG
formatter=default
args=('../FLiES_Running.log', 'w')

[handler_handle_3]
class=handlers.RotatingFileHandler
level=INFO
formatter=default
args=('FLiES_Running.log', 'w', 10*1024*1024, 5)

###############################################

[formatters]
keys=default

[formatter_default]
format=%(asctime)s [%(filename)s, line:%(lineno)d] [%(levelname)s] %(message)s
datefmt=%Y-%m-%d %H:%M:%S
